<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board Home</title>
    <link rel="stylesheet" href="board.css" />
  </head>
  <body>
    <header>
      <h1>Board Home</h1>
    </header>
    <nav>
      <nav>
        <ul>
          <% if (user && user.level === 3) { %>
          <li><a href="/make">서버 컨테이너 현황</a></li>
          <li><a href="/manage">전체 사용자 관리</a></li>
          <li><a href="/board">게시판 관리</a></li>
          <% } else { %>
          <li><a href="/make">컨테이너 만들기</a></li>
          <li><a href="/manage">내 컨테이너 관리</a></li>
          <li><a href="/board">게시판</a></li>
          <li><a href="/myinfo">내정보</a></li>
          <% } %>
          <li><a href="/">로그아웃</a></li>
        </ul>
      </nav>
    </nav>
    <main>
      <h2>최신 게시글</h2>
      <a href="/createPost">글쓰기</a>
      <div class="post-list">
        <% posts.forEach(post => { %>
        <div class="post">
          <h3><%= post.title %></h3>
          <p><%= post.content %></p>
          <p>
            작성자: <% if (post.author) { %> <%= post.author.name %> <% } else {
            %> 작성자 없음 <% } %>
          </p>
          <% if (user && (user.level === 3 || (post.author &&
          user._id.toString() === post.author._id.toString()))) { %>
          <form
            style="display: inline"
            action="/editPost/<%= post._id %>"
            method="GET"
          >
            <button type="submit">수정</button>
          </form>
          <form
            style="display: inline"
            action="/deletePost/<%= post._id %>"
            method="POST"
          >
            <button type="submit">삭제</button>
          </form>
          <% } %>
        </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
